#add-posts-screen {
	.post-btn-group {
		padding: 0 0 calc(#{$module} * 1);
		border-bottom: 1px solid black;
		margin-bottom: calc(#{$module} * 1);
		button {
			margin-right: calc(#{$module} / 2);
		}
	}
	.edit-post {
		display: flex;
		width: 100%;
		.preview {
			background-color: #fafafa;
			padding: calc(#{$module} * 1);
			border: 3px map-get($theme-colors, 'grey') dashed;
			margin-bottom: calc(#{$module} * 1);
			video {
				display: block;
				width: 100%;
				height: calc(#{$module} * 5);
				object-fit: contain;
				object-position: top;
			}
			&.post-gallery {
				.gallery {
					display: flex;
					flex-wrap: wrap;
					.each-picture {
						@include items-grid(2, $module/3);
					}
				}
			}
		}
		.edit-area {
			width: calc((100% / 12) * 3);

			.title-area {
				padding: calc(#{$module} * 1) 0;
			}
			select {
				width: 100%;
			}
			.add-post {
				display: flex;
				align-items: stretch;
				width: 100%;
				margin: calc(#{$module} * 1) 0;
				.file-group {
					display: flex;
					flex-direction: column;
					margin-bottom: calc(#{$module} * 1);

					.file-input {
						outline: none;
						color: map-get($theme-colors, 'text');
						font-weight: $text-light;
						@include font-line-height(10px);
						margin-bottom: calc(#{$module} / 2);
						border-bottom: none;
						overflow: hidden;
						&::-webkit-file-upload-button {
							visibility: hidden;
						}
						&:focus {
							border: none;
						}
						&::before {
							content: 'Elegir archivo...';
							background: white;
							color: map-get($theme-colors, 'dark-grey');
							border: 1px solid map-get($theme-colors, 'dark-grey');
							height: 25px;
							padding: calc(#{$module} / 6) calc(#{$module} / 4);
							outline: none;
							white-space: nowrap;
							cursor: pointer;
							font-size: 10px;
							width: 100%;
						}
					}
				}
			}
			.content-to-order {
				margin-top: calc(#{$module} * 2);
				display: flex;
				flex-direction: column;
				padding: calc(#{$module} / 2);
				border: 1px map-get($theme-colors, 'primary') solid;
				border-radius: 10px;
			}
		}
		.view-area {
			width: calc((100% / 12) * 9);
			background-color: #efefef;
			margin-left: calc(#{$module} * 1);
			border-radius: 5px;
			max-height: 100%;
			overflow: scroll;
			padding: calc(#{$module} * 1);
			p {
				@include font-line-height($font-xs);
				margin: 0;
			}
			h1 {
				@include font-line-height(30px);
			}
			h2 {
				@include font-line-height(16px);
			}
			h3 {
				@include font-line-height(14px);
			}

			.receiving-container {
				padding: calc(#{$module} * 1);
				background-color: #fff;
				border-radius: 10px;
				margin-bottom: calc(#{$module} * 1);
				.container-number {
					padding: calc(#{$module} / 2);
					border: map-get($theme-colors, 'light-grey') 2px solid;
					border-radius: 100px;
					width: 40px;
					height: 40px;
					text-align: center;
					display: block;
					margin: 0;
					margin-bottom: calc(#{$module} * 1);
				}
			}

			.unique-image {
				width: 300px;
				height: 300px;
				overflow: hidden;
				background-color: map-get($theme-colors, 'light-grey');
				position: relative;
				img {
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			.video-preview {
				width: 300px;
			}

			.gallery {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: calc(#{$module} / 2);
				.each-picture {
					@include items-grid(4, calc(#{$module} / 6));
					height: 100px;
					overflow: hidden;
					background-color: map-get($theme-colors, 'light-grey');
					position: relative;
					img {
						height: 100%;
						object-fit: cover;
						object-position: center;
					}
					.close-icon {
						position: absolute;
						top: 0;
						right: 0;
						cursor: pointer;
						width: 15px;
						height: 15px;
						color: map-get($theme-colors, 'primary');
					}
				}
			}
		}
	}
}
