.posts-head {
	display: flex;
	margin-bottom: calc(#{$module} * 2);
	align-items: center;
}
.modal-width {
	width: 90%;
	max-width: none !important;
}

.empty-posts {
	margin-top: calc(#{$module} * 1);
	background-color: map-get($theme-colors, 'light-grey');
	padding: calc(#{$module} * 1) 0;
	text-align: center;
	color: map-get($theme-colors, 'text');
	border-radius: 5px;
}

.all-posts {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: calc(#{$module} * 2);
	.each-post {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: calc(#{$module} * 1) 0;
		border-bottom: 1px solid map-get($theme-colors, 'light-grey');
	}
}

.add-post {
	display: flex;
	align-items: stretch;
	width: 100%;
	margin: calc(#{$module} * 2) 0;
	.file-group {
		display: flex;
		flex-direction: column;
		margin-bottom: calc(#{$module} * 1);

		.file-input {
			width: 100%;
			outline: none;
			color: map-get($theme-colors, 'text');
			font-weight: $weight-light;
			@include font-line-height(10px);
			margin-bottom: calc(#{$module} / 2);
			border-bottom: none;
			overflow: hidden;
			&::-webkit-file-upload-button {
				visibility: hidden;
			}
			&:focus {
				border: none;
			}
			&::before {
				content: 'Elegir archivo...';
				background: white;
				color: map-get($theme-colors, 'dark-grey');
				border: 1px solid map-get($theme-colors, 'dark-grey');
				height: 25px;
				padding: calc(#{$module} / 6) calc(#{$module} / 4);
				outline: none;
				white-space: nowrap;
				-webkit-user-select: none;
				cursor: pointer;
				font-size: 10px;
				width: 100%;
			}
		}
	}

	.left,
	.right {
		width: 50%;
		padding: calc(#{$module} / 2);
		.unique-image {
			width: 100px;
			height: 100px;
			overflow: hidden;
			background-color: map-get($theme-colors, 'light-grey');
			position: relative;
			img {
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		.video-preview {
			width: 300px;
		}

		.gallery {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: calc(#{$module} / 2);
			.each-picture {
				@include items-grid(6, calc(#{$module} / 6));
				height: 100px;
				overflow: hidden;
				background-color: map-get($theme-colors, 'light-grey');
				position: relative;
				img {
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
				.close-icon {
					position: absolute;
					top: 0;
					right: 0;
					cursor: pointer;
					width: 15px;
					height: 15px;
					color: map-get($theme-colors, 'primary');
				}
			}
		}
	}
	.right {
		background-color: #efefef;
		border-radius: 5px;
		max-width: 100%;
		overflow: scroll;
	}
}
