.preview {
	display: flex;
	flex-direction: column;
	background-color: #fafafa;
	padding: calc(#{$module} * 1);
	border: 3px map-get($theme-colors, 'grey') dashed;
	margin-bottom: calc(#{$module} * 1);
	cursor: move;
	max-height: 150px;
	overflow: hidden;
	.text {
		max-height: 100%;
		overflow: hidden;
	}
	.unique-image {
		width: 150px;
		height: 100%;
		object-fit: cover;
	}
	video {
		display: block;
		width: 100%;
		height: calc(#{$module} * 5);
		object-fit: contain;
		object-position: top;
	}
	&.post-gallery {
		.gallery {
			display: flex;
			flex-wrap: wrap;
			.each-picture {
				@include items-grid(2, $module/3);
			}
		}
	}
}
.content-to-order {
	.preview {
		flex-direction: row;
		.order {
			display: none;
		}
	}
}
.receiving-container {
	.preview {
		margin-left: calc(#{$module} * 2);
		margin-bottom: 0 !important;
		.order {
			display: none;
		}
	}
}
