.receiving-container {
	padding: calc(#{$module} * 1);
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: calc(#{$module} * 1);
	display: flex;
	position: relative;
	min-height: calc(#{$module} * 4);

	.container-number {
		padding: calc(#{$module} / 2);
		border: map-get($theme-colors, 'light-grey') 2px solid;
		border-radius: 100px;
		width: 40px;
		height: 40px;
		display: block;
		margin: 0;
		margin-bottom: calc(#{$module} * 1);
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: calc(#{$module} * 1);
		top: calc(#{$module} * 1);
		p {
			text-align: center;
		}
	}
	.preview {
		flex-grow: 1;
		display: block;
		margin-left: calc(#{$module} * 2);
		margin-bottom: 0 !important;
		.my-btn {
			display: none;
		}
	}
}
