.dash-nav {
	display: flex;
	left: 0;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	position: relative;
	padding: $module;
	min-width: 100px;
	max-width: 100px;
	svg {
		width: 30px;
		height: 30px;
		margin: 0 auto;
		color: map-get($theme-colors, 'ds-back');
		&:hover {
			text-decoration: none;
			color: map-get($theme-colors, 'ds-focus');
		}
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		li {
			padding: calc(#{$module} / 3) 0;
			width: 100%;
			a {
				width: 100%;
			}
		}
	}
	.btn-group {
		width: 100%;
		display: flex;
		flex-direction: column;
		> * {
			width: 100%;
			margin-top: calc(#{$module} / 3);
		}
		small {
			color: map-get($theme-colors, 'ds-back');
			text-align: center;
		}
	}
}
