#post-preview {
	background-image: url('https://res.cloudinary.com/bratic-app/image/upload/v1614430023/bkg.png');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: calc(#{$module} * 2) 0;
	h1 {
		@include font-line-height(48px);
		text-align: center;
		font-weight: $titles-bold;
	}
	h2 {
		@include font-line-height(30px);
		color: map-get($theme-colors, 'primary');
		font-style: italic;
		font-weight: 300;
		text-align: center;
	}
	.main-image {
		margin: calc(#{$module} * 3) 0;
		border-top: 5px solid map-get($theme-colors, 'primary');
		width: 100%;
		height: 800px;
		overflow: hidden;
		img {
			filter: grayscale(100%);
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.app-container {
		width: calc((100% / 12) * 10);
		margin: calc(#{$module} * 1) auto;
		.post-text {
			p {
				color: map-get($theme-colors, 'text');
				font-family: $font-text;
				@include font-line-height($font-base);
				font-weight: $text-light;
			}
		}
	}
	.unique-image {
		width: 100px;
		height: 100px;
		overflow: hidden;
		background-color: map-get($theme-colors, 'light-grey');
		position: relative;
		margin: calc(#{$module} / 2) 0;
		img {
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.btn-group {
		justify-self: center;
		> * {
			margin-right: calc(#{$module} / 3);
		}
	}
}
