*[class^='my-btn'] {
	&:focus,
	&:active {
		outline: 0;
		box-shadow: none;
	}
}

.my-btn {
	font-weight: $text-semibold;
	font-size: $font-sm;
	background-color: #52b3d9;
	border: none;
	color: white;
	border-radius: 5px;
	padding: $module;
	text-transform: uppercase;

	&:hover {
		background-color: #5c97bf;
		color: white;
		text-decoration: none;
	}
	&.secondary {
		background-color: white;
		color: #52b3d9;
		border: 1px solid #52b3d9;
		&:hover {
			color: white;
			background-color: #5c97bf;
			border-color: #5c97bf;
		}
	}
	&.third {
		background-color: white;
		color: map-get($theme-colors, 'grey');
		border: 1px solid map-get($theme-colors, 'grey');

		&:hover {
			color: #5c97bf;
			border: 1px solid #5c97bf;
		}
	}
	&.mini {
		font-size: 10px;
		padding: calc(#{$module} / 6) calc(#{$module} / 4);
	}
	&.underlined {
		font-size: 10px;
		background-color: transparent;
		color: map-get($theme-colors, 'primary');
		padding: 0;
		border: none;
	}
}

.my-btn-back {
	color: map-get($theme-colors, 'primary');
	text-transform: uppercase;
	font-size: $font-xs;

	&::before {
		content: '\f323';
		font-family: $fontawesome;
		color: map-get($theme-colors, 'primary');
		margin-right: calc(#{$module} / 6);
	}
}

.my-btn-more {
	color: map-get($theme-colors, 'buttons');
	text-transform: uppercase;
	font-size: $font-xs;

	&::after {
		content: '\f324';
		font-family: $fontawesome;
		color: map-get($theme-colors, 'buttons');
		margin-left: calc(#{$module} / 6);
	}
}
